{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'bag/css/bag.css' %}" rel="stylesheet">
    <link href="{% static 'bag/css/bag-queries.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>Shopping Cart</h3>
            </div>
        </div>
        <br><br><br>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>
    <!--Content Table-->
    <div class="black-text">
        <form id="checkout_bag_form" method="GET" action="{% url 'checkout' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col m1 l2"></div>

                <div class="col s12 m10 l8">
                    {% if bag_items %}
                        <table class="centered">
                            <thead class="thead-bag">
                                <tr>
                                    <th></th>
                                    <th>NAME</th>
                                    <th>QTY</th>
                                    <th>PRICE</th>
                                    <th class="hide-on-small-only">DESCRIPTION</th>
                                    <th>TOTAL</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody-bag tbody-scroll">
                                {% for item in bag_items %}
                                    <tr>
                                        <!--Image-->
                                        <td>
                                            {% if item.product.image %}
                                                <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                                     src="{{ item.product.image.url }}"
                                                     alt="product-image">
                                            {% else %}
                                                <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                                     src="{{ MEDIA_URL }}no-image.png"
                                                     alt="no-images">
                                            {% endif %}

                                        </td>
                                        <!--Name-->
                                        <td>
                                            <p class="center">{{ item.product.product_name }}</p>
                                        </td>
                                        <!--Update quantity-->
                                        <td>
                                            <div class="amount-cell valign-wrapper">
                                                <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},increase,{{ item.quantity }};">
                                                    <i class="small material-icons green-text">add_circle</i>
                                                </a>
                                                <p class="center">{{ item.quantity }}</p>
                                                <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},decrease,{{ item.quantity }};">
                                                    <i class="small material-icons light-green-text">remove_circle</i>
                                                </a>
                                            </div>
                                        </td>
                                        <!--Price-->
                                        <td>
                                            <p class="center">€{{ item.product.price }}</p>
                                        </td>
                                        <!--Description-->
                                        <td class="hide-on-small-only">
                                            <p class="center">{{ item.product.product_description }}</p>
                                        </td>
                                        <!--Total Price-->
                                        <td>
                                            <p class="center">€{{ item.total_item_price }}</p>
                                        </td>
                                        <!--Delete-->
                                        <td>
                                            <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},remove,{{ item.quantity }};"><i
                                                    class="delete-icon material-icons valign-wrapper">delete</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                        <div class="row right">
                            <!--Buton buy more-->
                            <div class="col s7 m5 button-checkout">
                                <a href="{% url 'products' %}"
                                   class="right waves-effect waves-light btn-large light-green black-text">
                                    <i class="material-icons right">add_shopping_cart</i>Buy more
                                </a>
                            </div>
                            <!--Buton Add to cart-->
                            <div class="col s5 m7 button-checkout">
                                <a onclick="document.getElementById('checkout_bag_form').submit()"
                                   class="right waves-effect waves-light btn-large black red-text">
                                    <i class="material-icons right">credit_card</i>Checkout €{{ sum_total }}
                                </a>
                            </div>
                        </div>

                    {% else %}
                        <p class="red-text">Your bag is empty.</p>

                        <i class="material-icons empty_bag">remove_shopping_cart</i>

                        <br><br><br><br>

                        <a href="{% url 'products' %}" class="waves-effect waves-light btn-large"><i
                                class="material-icons left">keyboard_backspace</i>Continue Shopping</a>
                    {% endif %}

                </div>

                <div class="col m1 l2"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}