{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{#    <link href="{% static 'bag/css/bag.css' %}" rel="stylesheet">#}
{% endblock %}
{% block extra_js %}
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 left">
                <h1>Shopping Bag</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>

    <!-- Page Layout here -->
    <div class="black-text">
        <form method="GET" action="{% url 'products' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col offset-l3 l7">
                    {% if bag_items %}
                        <table>
                            <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Item Name</th>
                                <th>Amount</th>
                                <th>Item Subtotal</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        {% if product.image_url %}
                                            <img class="materialboxed product-detail-image" width="80" src="{{ product.image_url }}"
                                                 alt="product-image">
                                        {% else %}
                                            <img class="materialboxed product-detail-image" width="80"
                                                 src="{{ MEDIA_URL }}images/products_images/no-image.png"
                                                 alt="no-images">
                                        {% endif %}
                                    </td>
                                    <td>{{ product.product_name }}</td>

                                    <td>1</td>

                                    <td>€ {{ product.price }}</td>

                                    <td>€ {{ product.price }}</td>

                                    <td>{{ product.product_description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Your bag is empty.</p>
                            <i class="material-icons" style="font-size: 107px">remove_shopping_cart</i>
                            <br><br><br><br>
                            <a href="{% url 'products' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">keyboard_backspace</i>Continue Shopping</a>
                    {% endif %}

                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{  block.super }}
    <script src="{% static 'home/js/materialize.js' %}"></script>
{% endblock %}