{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{#    <link href="{% static 'bag/css/bag.css' %}" rel="stylesheet">#}
{% endblock %}
{% block extra_js %}
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 left">
                <h1>Shopping Bag</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>

    <!-- Page Layout here -->
    <div class="black-text">
        <form method="GET" action="{% url 'products' %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col offset-l3 l7">
                    {% if bag_items %}
                        <div class="table-response">
                            <ul>
                                <li>
                                    Hi
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Hi
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Hi
                                </li>
                            </ul>
                        </div>
                        {% else %}
                            <p>Your bag is empty.</p>
                            <i class="material-icons" style="font-size: 107px">remove_shopping_cart</i>
                            <br><br><br><br>
                            <a href="{% url 'products' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">keyboard_backspace</i>Continue Shopping</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{  block.super }}
    <script src="{% static 'home/js/materialize.js' %}"></script>
{% endblock %}