{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'bag/css/bag.css' %}" rel="stylesheet">
    <link href="{% static 'bag/css/bag-queries.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>Shopping Bag</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>
    <!--Content Table-->
    <div class="black-text">
        <form method="GET" action="{% url 'products' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col offset-l2 l8">
                    {% if bag_items %}
                        <table class="centered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th class="hide-on-small-only">Description</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td>
                                        {% if item.product.image_url %}
                                            <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                                 src="{{ item.product.image_url }}"
                                                 alt="product-image">
                                        {% else %}
                                            <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                                 src="{{ MEDIA_URL }}images/products_images/no-image.png"
                                                 alt="no-images">
                                        {% endif %}
                                    </td>
                                    <td class="name-cell">{{ item.product.product_name }}</td>

                                    <td>
                                        <div class="amount-cell valign-wrapper">
                                            <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},decrease,{{ item.quantity }};">
                                                <i class="material-icons">remove_circle</i>
                                            </a>
                                            <p class="valign-wrapper">{{ item.quantity }}</p>
                                            <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},increase,{{ item.quantity }};">
                                                <i class="material-icons">add_circle</i>
                                            </a>
                                        </div>
                                    </td>

                                    <td>€{{ item.product.price }}</td>

                                    <td class="hide-on-small-only description-cell">{{ item.product.product_description }}</td>

                                    <td>€{{ item.total_item_price }}</td>
                                    <td>
                                        <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},remove,{{ item.quantity }};"><i
                                                class="material-icons">delete_forever</i></a>
                                    <td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><p class="large white-text btn red">€{{ sum_total }}</p></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    {% else %}
                        <p class="red-text">Your bag is empty.</p>

                        <i class="material-icons empty_bag">remove_shopping_cart</i>

                        <br><br><br><br>

                        <a href="{% url 'products' %}" class="waves-effect waves-light btn-large"><i
                                class="material-icons left">keyboard_backspace</i>Continue Shopping</a>
                    {% endif %}

            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}