.white-background-custom{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(221,220,220,1) 38%, rgba(193,192,192,1) 47%, rgba(136,135,135,0.8491771708683473) 57%, rgba(95,95,95,0.8995973389355743) 67%, rgba(0,0,0,0) 78%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(221,220,220,1) 38%, rgba(193,192,192,1) 47%, rgba(136,135,135,0.8491771708683473) 57%, rgba(95,95,95,0.8995973389355743) 67%, rgba(0,0,0,0) 78%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 27%, rgba(221,220,220,1) 38%, rgba(193,192,192,1) 47%, rgba(136,135,135,0.8491771708683473) 57%, rgba(95,95,95,0.8995973389355743) 67%, rgba(0,0,0,0) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.parallax-background-become-a-member{
    background-color: #000000d6;
}

#card-image-container {
    margin: 0 auto;
    height: 341px;
    width: 100%;
}

#card-image-container > img {
    width: 100%;
    height: 70%;
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #card-image-container {
        height: 380px;
    }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #card-image-container {
        height: 400px;
    }
}