.white-background-custom{
    background: rgb(250,248,248);
    background: -moz-linear-gradient(180deg, rgba(250,248,248,0.8379726890756303) 44%, rgba(0,0,0,0) 54%);
    background: -webkit-linear-gradient(180deg, rgba(250,248,248,0.8379726890756303) 44%, rgba(0,0,0,0) 54%);
    background: linear-gradient(180deg, rgba(250,248,248,0.8379726890756303) 44%, rgba(0,0,0,0) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faf8f8",endColorstr="#000000",GradientType=1);
}