{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'profiles/css/profiles.css' %}" rel="stylesheet">
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>My Profile</h3>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content %}
    <!--White Overlay-->
    <div class="overlay "></div>
    <div class="black-text">
        <div class="row">
            <div class="col s12 offset-m2 m4">
                <form action="{% url 'profile' %}" method="POST" id="update-user-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!--Submit Button-->
                    <button class="btn waves-effect waves-light btn-large black red-text right" type="submit"
                            name="action">Update
                        <i class="material-icons right">wifi_protected_setup</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col s12 m4">
            <p class=" center grey-text">ORDER HISTORY</p>
            <div class="row">
                <!--Table Orders-->
                <table>
                    <thead class="thead-bag">
                    <tr>
                        <th>Order number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody class="tbody-bag tbody-scroll">
                    {% for order in orders %}
                        <tr>
                            <!--Order number-->
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                   title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:7 }}
                                </a>
                            </td>
                            <!--Date-->
                            <td>
                                <p>{{ order.date }}</p>
                            </td>
                            <!--Items-->
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="small">
                                            <strong>{{ item.quantity }}.</strong>{{ item.product.product_name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <!--Total to pay-->
                            <td>
                                <p><strong>{{ order.total_to_pay }}</strong></p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row">
                <!--Buton buy more-->
                <div class="col s7 m5 button-checkout right">
                    <a href="{% url 'products' %}"
                       class="right waves-effect waves-light btn-large light-green black-text">
                        <i class="material-icons right">add_shopping_cart</i>Buy more
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}