{% extends "base.html" %}
{% load static %}
{% load countries %}
{% get_countries as countries %}

{% block extra_css %}
    <link href="{% static 'checkout/css/checkout.css' %}" rel="stylesheet">
    <link href="{% static 'checkout/css/queries.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>Checkout</h3>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content %}
    <!--White Overlay-->
    <div class="overlay "></div>
    <!--Loading-->
    <div id="loading" class="hidden">
        <div class="preloader-wrapper big active spinner-align">
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="black-text">
        <div class="row">
            <div class="col m1 hide-on-small-only"></div>
            <!--Table Bag Details-->
            <div class="col s12 m5">
                <table id="table-checkout" class="centered">
                    <thead class="thead-bag">
                    <tr>
                        <th></th>
                        <th>NAME</th>
                        <th>QTY</th>
                        <th>PRICE</th>
                        <th>TOTAL</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="tbody-bag tbody-scroll">
                    {% for item in bag_items %}
                        <tr>
                            <!--Image-->
                            <td>
                                {% if item.product.image %}
                                    <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                         src="{{ item.product.image.url }}"
                                         alt="product-image">
                                {% else %}
                                    <img class="materialboxed bag-image" {% comment %}width="80"{% endcomment %}
                                         src="{{ MEDIA_URL }}no-image.png"
                                         alt="no-images">
                                {% endif %}

                            </td>
                            <!--Name-->
                            <td>
                                <p class="center">{{ item.product.product_name }}</p>
                            </td>
                            <!--Update quantity-->
                            <td>
                                <div class="amount-cell valign-wrapper">
                                    <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},increase,{{ item.quantity }}&the_checkout_url={{ request.path }};">
                                        <i class="small material-icons green-text">add_circle</i>
                                    </a>
                                    <p class="center">{{ item.quantity }}</p>
                                    <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},decrease,{{ item.quantity }}&the_checkout_url={{ request.path }};">
                                        <i class="small material-icons light-green-text">remove_circle</i>
                                    </a>
                                </div>
                            </td>
                            <!--Price-->
                            <td>
                                <p class="center">€{{ item.product.price }}</p>
                            </td>
                            <!--Total Price-->
                            <td>
                                <p class="center">€{{ item.total_item_price }}</p>
                            </td>
                            <!--Delete-->
                            <td>
                                <a href="{% url 'update_bag_amount' %}?update={{ item.product.id }},remove,{{ item.quantity }}&the_checkout_url={{ request.path }};"><i
                                        class="delete-icon material-icons valign-wrapper">delete</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--Form User data and Stripe payment-->
            <div class="col s12 m5">
                <form id="checkout-payment" action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <!--Name Email-->
                    <div class="row ">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ order_form.full_name }}
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            {{ order_form.email }}
                        </div>
                    </div>
                    <!--Country Phone-->
                    <div class="row">
                        <div class="input-field col s12 l7">
                            <i class="material-icons prefix">phone</i>
                            {{ order_form.phone_number }}
                        </div>
                        <div class="input-field col s12 l5 " style="position: relative">
                            <i id="country-world" class="material-icons prefix">public</i>
                            {{order_form.country}}
                        </div>
                    </div>
                    <!--Address-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">location_on</i>
                            {{ order_form.address }}
                        </div>
                    </div>
                    <!--Post code City-->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">markunread_mailbox</i>
                            {{ order_form.postcode }}
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">location_city</i>
                            {{ order_form.city }}
                        </div>
                    </div>

                    <!--Save Information checkbox-->
                    <div class="row">
                        <div class="col s12 right">
                            {% if user.is_authenticated %}
                                <p class="save_info-check-box right">
{#                                    <input type="checkbox" {% if saved %}checked{% else %}{% endif %} name="save_info_name" id="save_info_checkbox"/>#}
{#                                    <label for="save_info_checkbox">Save information</label>#}
{#                                    <input type="hidden" name="save_info" value={{ saved }}>#}
                                    <input type="checkbox" id="id-save-info" name="save-info" checked />
                                    <label for="id-save-info">Save order</label>
                                </p>
                            {% else %}
                                <label class="form-check-label" for="id-save_info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this
                                    information
                                </label>
                            {% endif %}
                        </div>
                    </div>

                    <!--Stripe payment-->
                    <div class="row">
                        <div class="col s12">
                            <!-- A Stripe card element will go here -->
                            <p class="title">Payment </p>
                            <!--Card div-->
                            <div id="stripe-card-input" class="card"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </div>
                    </div>
                    <!-- Used to display form errors -->
                    <div class="row">
                        <div class="col s12">
                            <div id="card-errors" class="red-text"></div>
                        </div>
                    </div>

                    <!--Submit button-->
                    <div class="row right">
                        <!--Buton buy more-->
                        <div class="col s7 m5 button-checkout">
                            <a href="{% url 'products' %}"
                               class="right waves-effect waves-light btn-large light-green black-text">
                                <i class="material-icons right">add_shopping_cart</i>Buy more
                            </a>
                        </div>
                        <!--Submit Button-->
                        <div class="col s5 m7 button-checkout">
                            <button class="btn waves-effect waves-light btn-large black red-text right" type="submit"
                                    name="action">Pay €{{ sum_total }}
                                <i class="material-icons right">credit_card</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}