/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}
main {
    flex: 1 0 auto;
}

.side-nav li>a {
    color: white;
}
.side-nav li>a:hover {
    background-color: rgb(121 33 28);
}
/* ------------------------------------------------*/
/* NAVBAR */
/* ------------------------------------------------*/
.logo{
    width: 21px; margin-top: 2px;
}
nav .brand-logo{
    font-size: 26px;
}

/* ------------------------------------------------*/
/* COVER PAGE */
/* ------------------------------------------------*/
.parallax-container {
    height: 100vh;
}

.parallax-background {
    background-color: #0e0e0e9e;
}
.btn-large{
    opacity: 0.7;
}
.btn-large:hover {
    opacity: 1
}
.btn{
    opacity: 0.7;
}
.btn:hover {
    opacity: 1
}
section{
    height: 100vh;
}

/* ------------------------------------------------*/
/* WHAT WE OFFER */
/* ------------------------------------------------*/
#what_we_offer{
    margin-top: 20vh;
}

/* ------------------------------------------------*/
/* BECOME A MEMBER */
/* ------------------------------------------------*/
.become_a_member_container{
    margin-top: 38vh;
}

/* ------------------------------------------------*/
/* CHOSE YOUR PLAN */
/* ------------------------------------------------*/
#choose_your_plan{
    margin-top: 20vh;
    height: 80vh;
}
.card .card-content {
    padding: 0px;
}


/* ------------------------------------------------*/
/* POPULAR PRODUCTS */
/* ------------------------------------------------*/


/* ------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------*/
.footer-links{
    text-align: center;
    margin-top: 30px
}
.footer-links a i{
    margin: 5px 5px;
}
.footer-copyright{
    text-align: center;
}