/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}
main {
    flex: 1 0 auto;
}
/* ------------------------------------------------*/
/* NAVBAR */
/* ------------------------------------------------*/
.logo{
    width: 21px; margin-top: 2px;
}
nav .brand-logo{
    font-size: 26px;
}

/* desktop */
#dropdown1,#dropdown2{
    top: 60px!important;
}

/* mobile */
#dropdown3{
    top: 144px!important;
}
#dropdown3 li>a>i{
    color: red;
}
#dropdown4{
    top: 192px!important;
}
.side-nav li>a>i{
    color: red!important;
}
#mobile-demo li>a{
    font-size: large;
}
/* ------------------------------------------------*/
/* COVER PAGE */
/* ------------------------------------------------*/
.parallax-container {
    height: 100vh;
}

.parallax-background {
    background-color: #0e0e0e9e;
}
.btn-large{
    opacity: 0.7;
}
.btn-large:hover {
    opacity: 1
}
.btn{
    opacity: 0.7;
}
.btn:hover {
    opacity: 1
}
section{
    height: 100vh;
}

/* ------------------------------------------------*/
/* WHAT WE OFFER */
/* ------------------------------------------------*/
#what_we_offer{
    margin-top: 10vh;
}

/* ------------------------------------------------*/
/* BECOME A MEMBER */
/* ------------------------------------------------*/
.become_a_member_container{
    margin-top: 38vh;
}

/* ------------------------------------------------*/
/* CHOSE YOUR PLAN */
/* ------------------------------------------------*/
#choose_your_plan{
    margin-top: 34vh;
    height: 80vh;
}
/*.card{*/
/*    height: 200px;*/
/*}*/
/*.card .card-content{*/
/*    padding: 0px;*/
/*}*/

#card-container{
    position: relative;
    overflow: hidden;
}
.white-box{
    height: 256px;
    border-top-left-radius: 150px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    bottom: -90px;
    transition:bottom 1s;
}

.black-box{
    text-align: center;
    border: 2px solid #464646;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-bottom: 30px;
    position: relative;
}
.black-box:hover{
    background: #fff;
    border-color: #fff;
    color: black;
}

.straightened-button{
}

#card-container:hover .card{
    bottom: 0;
}


/* ------------------------------------------------*/
/* POPULAR PRODUCTS */
/* ------------------------------------------------*/


/* ------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------*/
.footer-links{
    text-align: center;
    margin-top: 30px
}
.footer-links a i{
    margin: 5px 5px;
}
.footer-copyright{
    text-align: center;
}