/* ------------------------------------------------*/
/* WHITE BACKGROUND over the black one in the base.html */
/* ------------------------------------------------*/
.overlay{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.card .card-title {
    font-size: 18px;
}

.header-container{
    padding-top: 58px;
}

/* ------------------------------------------------*/
/* CARDS */
/* ------------------------------------------------*/
#card-image-container{
    margin: 0 auto;
    height: 341px;
    width: 168px;
}
#card-image-container > img {
    width: 100%;
    height: 72%;
}
#card-content-container{
    height: 141px;
}