{#<div id="brand-section" class="left-filter-section">#}
{#    <h5>BRAND</h5>#}
{#        {% for brand_name in brands %}#}
{#            <p>#}
{#                <input type="checkbox" name="{{ brand_name }}" class="filled-in chkvalues"#}
{#                       id="filled-in-box-{{ brand_name }}" value="{{ brand_name }}" {% comment %} onclick="return myfunction()"{% endcomment %} {% comment %}onchange="this.form.submit()" {% endcomment %} {% comment %}{% if current_brands %}checked="checked"{% endif %}{% endcomment %}/>#}
{#                <label for="filled-in-box-{{ brand_name }}">{{ brand_name }}</label>#}
{#            </p>#}
{#        {% endfor %}#}
{#        <a href="{% url 'products' %}?brand_name={{ brand_name }}">#}
{#            <button>Submit</button>#}
{#        </a>#}
{#        <input type="text" id="txtvalues" value="">#}
{#</div>#}

<div id="brand-section" class="left-filter-section">
    <h5>BRAND</h5>
    {% for brand_name in brands %}
        <p>
            <a href="{% url 'products' %}?brand_name={{ brand_name }}">
                <input type="button" name="{{ brand_name }}" class="filled-in" id="filled-in-box-{{ brand_name }}"/>
                <label for="filled-in-box-{{ brand_name }}">{{ brand_name }}</label>
            </a>
        </p>
    {% endfor %}
</div>