<div id="rating-section" class="left-filter-section mar">
    <h5>RATING</h5>
    <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-9" />
        <label for="filled-in-box-9">9 or Higher</label>
    </p>
    <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-8" />
        <label for="filled-in-box-8">8 or Higher</label>
    </p>
    <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-7" />
        <label for="filled-in-box-7">7 or Higher</label>
    </p>
    <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-6" />
        <label for="filled-in-box-6">6 or Higher</label>
    </p>
</div>
