<div id="rating-section" class="left-filter-section mar">
        <p>
            <input type="radio" name="rating_group" id="9_or_higher"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{9}}';"
                   {% if overall_rating_selected == 9.0 %}checked{% else %}{% endif %}>
            <label for="9_or_higher">9 or Higher</label>
        </p>
        <p>
            <input type="radio" name="rating_group" id="8_or_higher"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{8}}';"
                   {% if overall_rating_selected == 8.0 %}checked{% else %}{% endif %}>
            <label for="8_or_higher">8 or Higher</label>
        </p>
        <p>
            <input type="radio" name="rating_group" id="7_or_higher"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{7}}';"
                   {% if overall_rating_selected == 7.0 %}checked{% else %}{% endif %}>
            <label for="7_or_higher">7 or Higher</label>
        </p>
        <p>
            <input type="radio" name="rating_group" id="6_or_higher"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{6}}';"
                   {% if overall_rating_selected == 6.0 %}checked{% else %}{% endif %}>
            <label for="6_or_higher">6 or Higher</label>
        </p>
        <p>
            <input type="radio" name="rating_group" id="2_or_higher"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{2}}';"
                   {% if overall_rating_selected == 2.0 %}checked{% else %}{% endif %}>
            <label for="2_or_higher">2 or Higher</label>
        </p>
        <p>
            <input type="radio" name="rating_group" id="all_rating"
                   onchange="if(this.checked) document.location.href='{% url 'products' %}?overall_rating={{0}}';"
                    {% if overall_rating_selected %}{% else %}checked{% endif %}>
            <label for="all_rating">All Rating</label>
        </p>

</div>