<!--Mobile-->
<ul class="side-nav black collapsible" id="mobile-demo">
    <li>
        <a class="collapsible-header white-text" href="#"><i class="material-icons">home</i>Home</a>
    </li>
    <li>
        <a class="collapsible-header white-text" href="#what_we_offer"><i class="material-icons">miscellaneous_services</i>Services</a>
    </li>
    <li>
        <a class="collapsible-header white-text"><i class="material-icons">shopping_cart</i>Merchendise<i class="material-icons right">arrow_drop_down</i></a>
        <a href="{% url 'products' %}" class="collapsible-body black center red-text">Products</a>
        <a href="#" class="collapsible-body black center red-text">Prices</a>
    </li>
    <li>
        <a class="collapsible-header white-text"><i class="material-icons">assignment_ind</i>Account<i class="material-icons right">arrow_drop_down</i></a>
        <a href="#" class="collapsible-body black center red-text">Login</a>
        <a href="#" class="collapsible-body black center red-text">Logout</a>
    </li>
    <li>
        <a class="collapsible-header white-text" href="{% url 'shopping_bag' %}"><i class="material-icons">local_grocery_store</i>Bag {{ amount_of_products }}</a>
    </li>
</ul>