/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #card-image-container > img {
        width: 98%;
        height: 70%;
    }
    .extra-button{
        padding-top: 82px!important;
    }

    /*.product-detail-image{*/
    /*    margin: 0 auto;*/
    /*    max-width:119%!important;*/
    /*}*/

    i.medium{
        font-size: 2rem;
    }

    .edit-product-detail-container{
        margin-top: -69px;
    }

}


/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .edit-product-detail-table-container{
        margin-top: 264px;
    }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


