<section id="right-content">
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
                <div class="col s6 m6 l4 xl3">
                    <div class="card hoverable waves-effect waves-block waves-light">
                        <div id="card-image-container" class="card-image animate__animated animate__fadeIn">


                            {% if product.image %}
                                <img class="activator" src="{{ product.image.url }}" alt="product-image">
                            {% else %}
                                <img class="activator" src="{{ MEDIA_URL }}no-image.png"
                                     alt="no-images">
                            {% endif %}

                            <row>
                                <span class="card-title small black-text">{{ product.product_name|truncatechars:20 }}</span>
                            </row>

                            <div class="extra-button">

                                {% if user.is_superuser %}
                                    <a href="{% url 'edit_product' product.id %}"
                                       class="hoverable btn-floating add-to-cart small waves-effect waves-light blue"><i
                                            class="material-icons">create</i></a>
                                    <!-- Modal Trigger -->
                                    <a class="hoverable btn-floating add-to-cart red waves-effect waves-light modal-trigger"
                                       href="#{{ product.id }}"><i class="medium material-icons">delete_outline</i></a>
                                {% endif %}

                                <a href="{% url 'add_to_bag' product.id %}"
                                   class="hoverable btn-floating add-to-cart waves-effect waves-light light-green"><i
                                        class="material-icons">add_shopping_cart</i></a>

                                <a href="{% url 'product_details' product.id %}"
                                   class="hoverable btn-floating {% comment %}halfway-fab{% endcomment %} waves-effect waves-light black"><i
                                        class="material-icons">visibility</i></a>
                            </div>
                        </div>
                        <div id="card-content-container" class="card-content">
                            <p>Price: €{{ product.price }}</p>
                            {% if product.overall_rating %}
                                <p id="rat" class="text-lighten-5">Rating: {{ product.overall_rating }}</p>
                            {% else %}
                                <small class="text-lighten-1">No Rating</small>
                            {% endif %}
                            <p class="truncate">Brand: {{ product.brand_name }}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i
                                    class="material-icons right">close</i>{{ product.product_name }}</span>
                            <p>Description:</p>
                            <p>{{ product.product_description }}</p>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="{{ product.id }}" class="modal hoverable">
                    <div class="modal-content">
                        <h4>Delete Confirmation</h4>
                        <p>Are you sure you want to delete {{ product.product_name }} ?</p>
                        <div class="modal-body">
                            {#                                <input type="hidden" name="category_id" id="cat_id" value="">#}
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'products' %}" class="hoverable btn modal-close waves-effect waves-green"
                               data-dismiss="modal">No, Cancel</a>
                            <a href="{% url 'delete_product' product.id %}"
                               class="hoverable btn waves-effect waves-light red black-text">Yes, Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--Floating button back to the top-->
            <div class="fixed-action-btn back_to_top">
                <a class="btn-floating btn-large waves-effect waves-light red btt-link">
                    <i class="large material-icons">publish</i>
                </a>
            </div>
        </div>
    </div>
</section>
