<section id="right-content">
    <div class="container-fluid">
        <div class="row">
            {% for product in products.qs %}
                <div class="col s6 m6 l4 xl3">
                    <div class="card hoverable waves-effect waves-block waves-light">
                        <div id="card-image-container" class="card-image animate__animated animate__fadeIn">
                            {% if product.image_url %}
                                <img class="activator" src="{{ product.image_url }}" alt="product-image">
                            {% else %}
                                <img class="activator" src="{{ MEDIA_URL }}images/products_images/no-image.png"
                                     alt="no-images">
                            {% endif %}
                            <span class="card-title small black-text">{{ product.product_name }}</span>
                            <div class="extra-button">
                                <a href="{% url 'update_bag_amount' %}?update={{ product.id }},increase,1;"
                                   class="btn-floating add-to-cart waves-effect waves-light black"><i
                                        class="material-icons">edit</i></a>

                                <a href="{% url 'add_to_bag' product.id %}"
                                   class="btn-floating add-to-cart waves-effect waves-light light-green"><i
                                        class="material-icons">add_shopping_cart</i></a>

                                <a href="{% url 'product_details' product.id %}"
                                   class="btn-floating {% comment %}halfway-fab{% endcomment %} waves-effect waves-light red"><i
                                        class="material-icons">visibility</i></a>
                            </div>
                        </div>
                        <div id="card-content-container" class="card-content">
                            <p>Price: €{{ product.price }}</p>
                            {% if product.overall_rating %}
                                {#                                <p id="rating" class="text-lighten-5" oninput="rating()">Rating: <small>{{ product.overall_rating }}</small></p>#}
                                <p id="rat" class="text-lighten-5">Rating: {{ product.overall_rating }}</p>
                            {% else %}
                                <small class="text-lighten-1">No Rating</small>
                            {% endif %}
                            <p class="truncate">Brand: {{ product.brand_name }}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i
                                    class="material-icons right">close</i>{{ product.product_name }}</span>
                            <p>Description:</p>
                            <p>{{ product.product_description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--Floating button back to the top-->
            <div class="fixed-action-btn back_to_top">
                <a class="btn-floating btn-large waves-effect waves-light red btt-link">
                    <i class="large material-icons">publish</i>
                </a>
            </div>
        </div>
    </div>
</section>
