/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}
main {
    flex-direction: column;
    flex: 1 0 auto!important;
}

/* ------------------------------------------------*/
/* WHITE BACKGROUND over the black one in the base.html */
/* ------------------------------------------------*/
.overlay{
    height: 100%;
    width: 100%;
    flex: 1 0 auto!important;
    left: 0;
    top: 0;
    position: fixed;
    background: white;
    z-index: -1;
}



.card .card-title {
    font-size: 18px;
}

.header-container{
    padding-top: 100px;
}


/* ------------------------------------------------*/
/* NAVBAR */
/* ------------------------------------------------*/
.logo{
    width: 21px; margin-top: 2px;
}
nav .brand-logo{
    font-size: 26px;
}
/* mobile */
#mobile-demo{
    border: 0px;
}
.side-nav li>a:hover {
    background-color: rgba(114, 114, 114, 0.65) !important;
}

/* desktop */
#dropdown1,#dropdown2{
    top: 60px!important;
}

#dropdown3 li>a>i{
    color: red;
}
.side-nav li>a>i{
    color: red!important;
}
#mobile-demo li>a{
    font-size: large;
}
.w-auto{
    width: 100%;
}
/* ------------------------------------------------*/
/* COVER PAGE */
/* ------------------------------------------------*/
.parallax-container {
    height: 100vh;
}

.parallax-background {
    background-color: #0e0e0e9e;
}
.btn-large{
    opacity: 0.7;
}
.btn-large:hover {
    opacity: 1
}

.btn:hover {
    opacity: 1
}
/* ------------------------------------------------*/
/* WHAT WE OFFER */
/* ------------------------------------------------*/
#what_we_offer{
    margin-top: 10vh;
}

/* ------------------------------------------------*/
/* BECOME A MEMBER */
/* ------------------------------------------------*/
.become_a_member_container{
    margin-top: 38vh;
}

/* ------------------------------------------------*/
/* CHOSE YOUR PLAN */
/* ------------------------------------------------*/
#choose_your_plan{
    margin-top: 34vh;
    height: 80vh;
}

#card-container{
    position: relative;
    overflow: hidden;
}
.white-box{
    height: 256px;
    border-top-left-radius: 150px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    bottom: -90px;
    transition:bottom 1s;
}

.black-box{
    text-align: center;
    border: 2px solid #464646;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-bottom: 30px;
    position: relative;
}
.black-box:hover{
    background: #fff;
    border-color: #fff;
    color: black;
}

.straightened-button{
}

#card-container:hover .card{
    bottom: 0;
}


/* ------------------------------------------------*/
/* POPULAR PRODUCTS */
/* ------------------------------------------------*/


/* ------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------*/
.footer-links{
    text-align: center;
    margin-top: 30px
}
.footer-links a i{
    margin: 5px 5px;
}
.footer-copyright{
    text-align: center;
}

/* ------------------------------------------------*/
/* TABLE TOAST */
/* ------------------------------------------------*/

.thead-bag, .tbody-bag > tr{
    display:table;
    width:100%;
    table-layout:fixed;
    width: calc( 100% - 1em );
}


.tbody-checkout-success{
    height:317px;
    display:table;
    width:100%;
    table-layout:fixed;
    width: calc( 100% - 1em );
}

.thead-bag {
    width: calc( 99% - 1em )
}

.tbody-scroll {
    display:block;
    height:440px;
    overflow:auto;
}

.table-scroll {
    width:100%;
}

.login-icon{
    font-size: 40px!important;
}

.button-checkout{
    padding-right: 0px!important;
    padding-left: 0px!important;
    width: auto!important;
}

.country-select-flag{
    position: absolute;
    height: 18px;
    display: inline;
    float: right;
    top: 3px;
}
