
/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .bag-image{
        width: 110px;
    }
    .name-cell{
        width:23% ;
    }

    .price-cell{
        width:12% ;
    }

    .delete-icon{
        font-size: 43px!important;
        color: #f16868!important;
    }

    .button-checkout{;
        width: auto!important;
    }

}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .bag-image{
        width: 120px;
    }
    .name-cell{
        width:23% ;
    }


}