/**
 * Stripe css
 */
.StripeElement, .stripe-style {
    box-sizing: border-box!important;

    height: 40px!important;

    padding: 10px 12px!important;

    border: 1px solid transparent!important;
    border-radius: 4px!important;
    background-color: white!important;

    box-shadow: 0 1px 3px 0 #e6ebf1!important;
    -webkit-transition: box-shadow 150ms ease!important;
    transition: box-shadow 150ms ease!important;
}

.StripeElement--focus, .stripe-style:focus, .stripe-style:active {
    box-shadow: 0 1px 3px 0 #cfd7df!important;
}

.StripeElement--invalid {
    border-color: #fa755a!important;
}
.stripe-style::placeholder{
    color: #aab7c4!important;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}



.empty_bag{
    margin-bottom: 0;
    font-size: 107px!important;
}

.bag-image{
    width: 61px;
}

.name-cell{
    width:33% ;
}

.amount-cell{
    display: block;
}

.description-cell{
    width:200% ;
}


.delete-icon{
    font-size: 36px!important;
    color: #f16868!important;
}

.save-info-check-box{
    margin-left: 4px;
}

tr:last-child{
    border:0!important;
}

.success-checkout-icon{
    font-size: 40px;
}