{% extends "base.html" %}
{% load static %}
{% load countries %}
{% get_countries as countries %}
{% load materializecss %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>Product Management</h3>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block content %}
    <!--White Overlay-->
    <div class="overlay "></div>
    <div class="black-text">
        <div class="row">
            <div class="col s12 offset-m6 m5">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input type="search" id="myInput" onkeyup="searchTable()" placeholder="Search for products.." title="Type in a name">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <!--Form Product-->
            <div class="col s12 offset-l1 l5">
                <form id="add-product-form" action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|materializecss }}
                    <!--Submit button-->
                    <div class="row right">
                        <!--Submit Button-->
                        <div class="col s5 m7 button-checkout">
                            <button class="btn waves-effect waves-light btn-large black red-text right" type="submit"
                                    name="action">Update
                                <i class="material-icons right">edit</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Product Table-->
            <div class="col s12 l5">
                <table id="myTable" class="example">
                    <thead class="thead-bag">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Brand</th>
                        <th>Description</th>
                    </tr>
                    </thead>

                    <tbody class="tbody-bag tbody-scroll">
                    {% for product in products %}
                        <tr class="hoverable cl">
                            <td>
                                <a href="{% url 'product_details' product.id %}?from_add_products=True">{{ product.product_name }}</a>
                            </td>
                            <td>{{ product.product_category }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.overall_rating }}</td>
                            <td>{{ product.brand_name }}</td>
                            <td>{{ product.product_description|truncatechars:10 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 center text-center">
                    <span class="left" id="total_reg">Products</span>
                    <ul class="pagination pager" id="myPager"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/pagination.js' %}"></script>
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}