{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.css" rel="stylesheet">
    <link href="{% static 'products/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'products/css/queries.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    {% comment %}<script src="{% static 'products/js/nouislider/nouislider.js' %}"></script>{% endcomment %}
    <script src="{% static 'products/js/wnumb/wNumb.min.js' %}"></script>
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h3>Product Details</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>
    <div class="row">
        <div class="col s12 m6 l6">
            {% if product.image_url %}
                <img class="materialboxed product-detail-image" width="330" src="{{ product.image_url }}" alt="product-image">
            {% else %}
                <img class="materialboxed product-detail-image" width="330" src="{{ MEDIA_URL }}images/products_images/no-image.png"
                     alt="no-images">
            {% endif %}
        </div>
        <ul class="col s12 m6 l6 black-text product-detail">
            <ul>
                <li><h4>{{ product.product_name }}</h4></li>
            </ul>
            <ul>
                <li>
                    <h5>€ {{ product.price }}</h5>
                </li>
            </ul>
            <ul>
                <li>
                    {% if product.overall_rating %}
                        <p id="rating" class="text-lighten-5">{{ product.overall_rating }}</p>
                    {% else %}
                        <small class="text-lighten-1">No Rating</small>
                    {% endif %}
                </li>
            </ul>
            <ul>
                <li>
                    <p>{{ product.brand_name }}</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p>{{ product.product_description }}</p>
                </li>
            </ul>
            <a class="waves-effect waves-light btn-large buy-button" onclick="M.toast({html: 'I am a toast'})"><i
                    class="material-icons right">local_grocery_store</i>Buy</a>
        </ul>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/materialize.js' %}"></script>
    <script>
        $(document).ready(function () {
            let rat ={{ product.overall_rating }}
            if (rat) {
                var ratingHtml = '';
                for (var i = 0; i < 5; i++) {
                    if (rat < (i + 0.5)) {
                        ratingHtml += '&#10025;';//empty-star
                    }
                    if (rat < (i + 0.9)) {
                        ratingHtml += '&#10027;';//half-star
                    }
                    else {
                        ratingHtml += '&#10029;';//full-star
                    }
                    document.getElementById('rating').style.display = '';
                    document.getElementById('rating').innerHTML = `Rating: ${rat} ${ratingHtml} `;
                }
            } else {
                document.getElementById('rating').style.display = 'none';
            }
        })
    </script>
{% endblock %}

