{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.css" rel="stylesheet">
    <link href="{% static 'products/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'products/css/queries.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="white">
        <div class="container black-text header-container">
            <div class="row">
                <div class="col">
                    <h1>Products</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Page Layout here -->
    <div class="white black-text">
            <div class="row">
                <div class="col s1"></div>
                <div class="col s2 hide-on-med-and-down">
                    <!-- Left filter -->
                    {% include 'includes/left filter/left_filter.html' %}
                </div>
                <div class="col s1"></div>
                <div class="col s18">
                    {% include 'includes/right/right_content.html' %}
                </div>
            </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/materialize.js' %}"></script>
    <script src="{% static 'products/js/nouislider.js' %}"></script>
{% endblock %}