{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.css" rel="stylesheet">
    <link href="{% static 'products/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'products/css/queries.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
{% endblock %}

<!--Header-->
{% block page_header %}
    <div class="container black-text header-container">
        <div class="row">
            <div class="col">
                <h1>Products</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay "></div>
    <!-- Page Layout here -->
    <div class="black-text">
        <form method="GET" action="{% url 'products' %}" enctype="multipart/form-data">
            {#            {% csrf_token %}#}
            <div class="row">
                <div class="col s12 m4 l3">
                    <!-- Left filter -->
                    {% include 'includes/left filter/left_filter.html' %}
                </div>
                <div class="col s12 m8 l9">
                    {% include 'includes/right/right_content.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/materialize.js' %}"></script>
    <script src="{% static 'products/js/nouislider.js' %}"></script>
    <script>
        function setGetParameter() {
            {#searchWord = document.getElementById('search').value;#}
            {#window.location.href = "{% url 'view_detail' %}" + "?search="+searchWord;#}
            var lower = document.getElementById('skip-value-lower').value;
            var upper = document.getElementById('skip-value-upper').value;
            current_min=lower;
            current_max=upper;
            window.location.href = "{% url 'products' %}" + "?skip-value-lower=" + lower + "&skip-value-upper=" + upper;
        }
    </script>
{% endblock %}