<div class="toast-message ">
    <!--Hidden input that contain the class type-->
    <input id="toast-class-color" name="toast-class-color" type="text" class="hide" value="white lighten-5 black-text">
    <div class="container-fluid">
        <div class="row">
            <div class="col s9 left">
                <h5 class="left green-text">Success</h5>
            </div>
            <div class="col s3 center">
                <a class="btn-flat black-text" onclick="closeToast()"><i
                        class="material-icons">close</i></a>
            </div>
        </div>
        {% if fromprofile or from_add_products %}
            {{ message }}
            {% else %}
            {% if bag_items %}
                <div class="row">
                    <table class="centered">
                        <tbody class="tbody-scroll" >
                        {% for item in bag_items %}
                            <tr>
                                <!--Image-->
                                <td>
                                    {% if item.product.image %}
                                        <img class="materialboxed bag-image" width="60"
                                             src="{{ item.product.image.url }}"
                                             alt="product-image">
                                    {% else %}
                                        <img class="materialboxed bag-image" width="60"
                                             src="{{ MEDIA_URL }}no-image.png"
                                             alt="no-images">
                                    {% endif %}

                                </td>
                                <!--Name-->
                                <td class="name-cell"><p class="center">{{ item.product.product_name }}</p></td>
                                <!--Total Price-->
                                <td><p class=" center">€{{ item.total_item_price }}</p></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <tr>
                        <td colspan="7">
                            <a href="{% url 'checkout' %}" class="waves-effect waves-light btn-large black red-text right"><i
                                    class="material-icons right">credit_card</i>Check out €{{ sum_total }}</a>
                        </td>
                    </tr>
                </div>
            {% else %}
                {{ message }}
            {% endif %}
        {% endif %}

    </div>
</div>