<div class="toast-message ">
    <input id="classmessage" name="classmessage" type="text" class="hide" value="amber lighten-2 black-text">
    <div class="container">
        <div class="row">
            <div class="left">
                <h5>Warning</h5>
            </div>
            <div class="col right">
                <a class="btn-flat black-text toast-action" onclick="closeToast()"><i class="material-icons">close</i></a>
            </div>
        </div>
        <div class="row">
            <p>
                {{ message }}
            </p>
        </div>
    </div>
</div>